    * {box-sizing: border-box;}  
body {background-color: ghostwhite;
     font-family: 'Lora', serif;}
a {color: white; font-family: "Gill Sans", "Gill Sans MT", "Helvetica", "Arial", "sans-serif";
  padding: 0.2em .5em .4em .6em; background-color: #531948; border-radius: 1em; text-decoration-color:#A02424 }
nav {margin: 0;padding: 1rem;text-align: center;line-height: 1.5; font-family: 'Comfortaa', sans-serif; font-size: 1.95rem; color: black;text-transform: capitalize; background: white}
        
main {
    max-width: 1024px;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 5em;
    box-shadow: 2rem .5rem 4em 2rem rgba(70, 23, 85, .3);
} 
        
h1 {
    margin: 0;
    padding: 5rem 0 .5rem;
    text-align: center;
    line-height: 1.1;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(#4D194C, #A02424);
}
        
        h2, h3, h4, h5 {
    max-width: 1024px;
    margin: 0;
    padding: 1rem 0 .5rem;
    text-align: center;
    line-height: .7;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.5rem;
    color: silver;
    text-transform: capitalize;
    background: #A02424;
}
         h4 {background: #373737; text-align:left; padding: 1rem;}
        h5 {background: #6C6C6C; border-radius: 1em; text-align:left; padding: 1rem; max-width="590px";}
     h6 {background: ghostwhite;border-radius: 1em; text-align:left; font-family: sans-serif; font-size: 1.5rem; padding: .5rem; max-width: 25ch; text-decoration:underline;color:black; }
#quote {
    padding: 10% 0;
    background: url(joy-of-synths-2022-0313-by-Anthony-Torres.jpg) center / cover no-repeat #A02424;
    background-blend-mode: luminosity;
}
    

blockquote {
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(70, 23, 85, .9);
    color: #fff;
    font-size: 1.75rem;
}

footer {
    text-align: center;
   background-color: rgba(70, 23, 85, .9);
   color: #fff;
   font-size: 1rem;
}
        img { width: 15%; height: auto; align-self:  center};
        
  /*Embedded YT Code */
.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30%;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
}
.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
    //*This is blog stuff from index2b.html *//
        
.forecast {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
Max-width: 50ch;
}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('joy-of-synths-logo-01.svg') white;
}

.day-forecast > h6 {max-width:50%;
        margin:.3rem;
        font-size:.8rem;}
.day-forecast > p {
    margin: .3rem;
    font-size: 1rem;
    max-width: 70%;}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}
    
    //*Paypal Button Code *//
    #form {margin: 3px;
        padding: 5px;
        display:inline-block;
        align-content: center;
    }
#button
        {background-color: purple;
        color:white;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: -10px -10px 5px;
        font-family: sans-serif;
        padding: 3px;
        margin:5px;
        text-decoration: capitalize;
        display: inline-block;    
    }
